<a href="casa.component.html">
  <button>❌ Volver</button>
</a>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<p-carousel
  [value]="products"
  [numVisible]="3"
  [numScroll]="1"
  [responsiveOptions]="responsiveOptions"
  [circular]="true"
  class="transparent-carousel">
  <ng-template let-product pTemplate="item">
    <div 
      class="product-item p-4 bg-transparent rounded-lg shadow-none hover:shadow-lg transition-shadow duration-300">
      <!-- Imagen del producto -->
      <div class="mb-4 overflow-hidden rounded-lg bg-transparent">
        <img 
          [src]="product.image" 
          [alt]="product.name" 
          class="w-full h-auto object-cover object-center rounded-lg" />
      </div>

      <!-- Detalles del producto -->
      <div class="product-detail text-center text-white">
        <h4 class="text-xl font-semibold mb-2">{{ product.name }}</h4>
        <p class="text-lg mb-3">${{ product.price }}</p>

        <!-- Estado del inventario -->
        <p-tag 
          [value]="product.inventoryStatus"
          [severity]="getSeverity(product.inventoryStatus)"
          class="mb-3 bg-transparent text-white border-transparent"
        ></p-tag>

        <!-- Botones de acción -->
        <div class="flex justify-center space-x-4">
          <p-button icon="pi pi-heart" severity="secondary" [outlined]="true" 
            class="p-button-rounded p-button-outlined text-white border-white" />
          <p-button icon="pi pi-shopping-cart" 
            styleClass="p-button-rounded p-button-outlined ml-2 text-white border-white" />
        </div>
      </div>
    </div>
  </ng-template>
</p-carousel>

 
 <div class="gallery" style="max-width: 600px; margin: auto;">
  <p-carousel 
      [value]="images" 
      [numVisible]="1" 
      [numScroll]="1" 
      [circular]="true" 
      [autoplay]="true" 
      [autoplayInterval]="3000"
      [responsiveOptions]="responsiveOptions">
      
      <ng-template pTemplate="item" let-item>
          <div class="carousel-item" style="width: 100%; height: 400px;">
              <img [src]="item" alt="GIF Animado" class="carousel-img" />
          </div>
      </ng-template>

  </p-carousel>
</div>