<a href="casa.component.html">
  <button>​🐧​​Volver</button>
</a>
<div class="card-container">

  <p-card header="Estudios y producciones colaborativas" 
    subheader="EL SHIKAYRI" 
    [style]="{ width: '300px', backgroundColor: 'transparent', color: 'Salmon' }">
    <ng-template pTemplate="header">
      <img alt="Card" src="https://i.gifer.com/ax.gif" />
    </ng-template>
    <p style="color: white;">
      En Japón, varios estudios de animación trabajan juntos para producir una sola serie de anime, a menudo con múltiples empresas colaborando en el proceso de producción. Este enfoque colaborativo permite una mayor eficiencia y calidad, pero también implica desafíos logísticos y financieros. Algunos estudios como Kyoto Animation y Madhouse son renombrados por sus contribuciones al anime global.
    </p>
    <ng-template pTemplate="footer">
      <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
          <p-button label="VER AHORA" severity="success" styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-teal-800">
          </p-button>
      </div>
    </ng-template>
  </p-card>

  <p-card header="Industria de merchandising y eventos" 
    subheader="EL SHIKAYRI" 
    [style]="{ width: '300px', backgroundColor: 'transparent', color: '#76448a ' }">
    <ng-template pTemplate="header">
        <img alt="Card" src="https://i.gifer.com/8LmG.gif" />
    </ng-template>
    <p style="color: white;">Los animes no solo se consumen como contenido visual, sino que también generan una gran industria de productos relacionados, como figuras, ropa, accesorios y videojuegos. Además, eventos como el Comiket o el Anime Expo atraen a miles de personas y contribuyen significativamente al crecimiento económico de la industria.</p>
    <ng-template pTemplate="footer">
        <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
            <p-button label="VER AHORA" severity="success" styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-teal-800">
            </p-button>
        </div>
    </ng-template>
  </p-card>

  <p-card header="Cultura Otaku" 
    subheader="EL SHIKAYRI" 
    [style]="{ width: '300px', backgroundColor: 'transparent', color: '#76448a ' }">
    <ng-template pTemplate="header">
        <img alt="Card" src="https://i.gifer.com/g0Nw.gif" />
    </ng-template>
    <p style="color: white;">La cultura "otaku" describe a los fanáticos apasionados del anime y manga, y ha sido fundamental en el crecimiento de la industria. Los otakus invierten tiempo y dinero en coleccionar productos relacionados, ver series y participar en actividades relacionadas con sus intereses. Este fenómeno ha creado un mercado masivo que apoya tanto a creadores como a empresas.</p>
    <ng-template pTemplate="footer">
        <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
            <p-button label="VER AHORA" severity="success" styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-teal-800">
            </p-button>
        </div>
    </ng-template>
  </p-card>

  <p-card header="Innovación en narrativa" 
    subheader="EL SHIKAYRI" 
    [style]="{ width: '300px', backgroundColor: 'transparent', color: '#76448a ' }">
    <ng-template pTemplate="header">
        <img alt="Card" src="https://i.gifer.com/EUlM.gif" />
    </ng-template>
    <p style="color: white;">La industria del anime es conocida por su enfoque innovador en la narrativa, abordando temas complejos como la identidad, la moralidad, el sufrimiento humano y la tecnología. Muchas series de anime, como Neon Genesis Evangelion y Steins;Gate, son reconocidas por sus tramas profundas y filosóficas, lo que las hace atractivas tanto para jóvenes como para adultos.</p>
    <ng-template pTemplate="footer">
        <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
            <p-button label="VER AHORA" severity="success" styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-teal-800">
            </p-button>
        </div>
    </ng-template>
  </p-card>

  <p-card header="Subcultura global" 
    subheader="EL SHIKAYRI" 
    [style]="{ width: '300px', backgroundColor: 'transparent', color: 'Salmon' }">
    <ng-template pTemplate="header">
        <img alt="Card" src="https://i.gifer.com/1ctU.gif" />
    </ng-template>
    <p style="color: white;">El anime ha transcendido las fronteras de Japón y se ha convertido en una subcultura global. A través de convenciones, fanfics, merchandising y comunidades en línea, los seguidores del anime alrededor del mundo comparten su pasión. Los subtítulos y doblajes en varios idiomas han facilitado la accesibilidad del anime en mercados internacionales.</p>
    <ng-template pTemplate="footer">
        <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
            <p-button label="VER AHORA" severity="success" styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-teal-800">
            </p-button>
        </div>
    </ng-template>
  </p-card>

  <p-card header="Manga como fuente principal" 
    subheader="EL SHIKAYRI" 
    [style]="{ width: '300px', backgroundColor: 'transparent', color: '#f4d03f ' }">
    <ng-template pTemplate="header">
        <img alt="Card" src="https://i.gifer.com/g0UF.gif" />
    </ng-template>
    <p style="color: white;">El manga, los cómics japoneses, es la principal fuente de inspiración para muchos animes. Las historias en manga suelen ser adaptadas a series de anime, lo que permite a los creadores explorar más a fondo la narrativa y los personajes. Esta relación entre manga y anime ha sido clave en el éxito y expansión de la industria.</p>
    <ng-template pTemplate="footer">
        <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
            <p-button label="VER AHORA" severity="success" styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-teal-800">
            </p-button>
        </div>
    </ng-template>
  </p-card>

  <p-card header="Animación única y estilo visual" 
    subheader="EL SHIKAYRI" 
    [style]="{ width: '300px', backgroundColor: 'transparent', color: '#f4d03f ' }">
    <ng-template pTemplate="header">
        <img alt="Card" src="https://i.gifer.com/Hmtd.gif" />
    </ng-template>
    <p style="color: white;">Una de las características más destacadas del anime es su estilo de animación, que incluye grandes ojos expresivos, detalles estilizados y movimientos fluidos. Los estudios de animación japoneses, como Studio Ghibli y Toei Animation, son conocidos por su calidad visual y creatividad, lo que ha influido enormemente en la animación mundial.</p>
    <ng-template pTemplate="footer">
        <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
            <p-button label="VER AHORA" severity="success" styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-teal-800">
            </p-button>
        </div>
    </ng-template>
  </p-card>

  <p-card header="Diversidad de géneros" 
    subheader="EL SHIKAYRI" 
    [style]="{ width: '300px', backgroundColor: 'transparent', color: '#f4d03f ' }">
    <ng-template pTemplate="header">
        <img alt="Card" src="https://i.gifer.com/IyuV.gif" />
    </ng-template>
    <p style="color: white;">La industria del anime abarca una vasta gama de géneros, desde acción y aventura hasta romance, horror y comedia. Esto permite que el anime atraiga a una audiencia global diversa, con contenidos adaptados para diferentes edades y gustos. La capacidad de mezclar géneros en una sola obra también es una característica distintiva.</p>
    <ng-template pTemplate="footer">
        <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
            <p-button label="VER AHORA" severity="success" styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-teal-800">
            </p-button>
        </div>
    </ng-template>
  </p-card>

</div>
